target/
.mvn/
.history/

# FVT Test
.fvt/

# Gradle
gradle/wrapper/gradle-wrapper.jar
.idea/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VSCODE ###
.metadata
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
**/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#Gradle
.gradle/
bin/
!data-sets-zowe-server-package/src/main/resources/bin

### Mac ###
.DS_Store

### Temporary Certificate###
*.p12
